[submodule "vendor/github.com/go-kit/kit"]
	path = vendor/github.com/go-kit/kit
	url = https://github.com/go-kit/kit
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/go-logfmt/logfmt"]
	path = vendor/github.com/go-logfmt/logfmt
	url = https://github.com/go-logfmt/logfmt
[submodule "vendor/github.com/go-stack/stack"]
	path = vendor/github.com/go-stack/stack
	url = https://github.com/go-stack/stack
[submodule "vendor/github.com/xeipuuv/gojsonschema"]
	path = vendor/github.com/xeipuuv/gojsonschema
	url = https://github.com/xeipuuv/gojsonschema
[submodule "vendor/github.com/xeipuuv/gojsonreference"]
	path = vendor/github.com/xeipuuv/gojsonreference
	url = https://github.com/xeipuuv/gojsonreference
[submodule "vendor/github.com/xeipuuv/gojsonpointer"]
	path = vendor/github.com/xeipuuv/gojsonpointer
	url = https://github.com/xeipuuv/gojsonpointer
